<div class="loginForm">
    <form role="form" name="loginForm" ng-class="validation.formSubmitted">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input.userName">Username:</label>
                    <input type="text" class="form-control" placeholder=" " name="userName" ng-model="input.userName" required autofocus />
                    <span ng-show="loginForm.userName.$error.required && (validation.showValidation)" class="label label-danger" ng-bind="sanitized.config.userNameReqMsg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input.password">Password: <span class="passwordMessage"></span></label>
                    <input class="form-control" type="password" placeholder=" " name="password" ng-model="input.password" required />
                    <span ng-show="loginForm.password.$error.required && (validation.showValidation)" class="label label-danger" ng-bind="sanitized.config.passwordReqMsg" />
                </div>
            </div>
        </div>
        <div class="actionContainer">
            <div class="buttonContainer">
                <button type="button" class="btn btn-primary" ng-click="logIn()"><div class="btnContent"><div class="btnLabel">Login in</div><div class="btnIcon"></div></div></button>
                <button type="button" class="btn btn-default" ng-click="createUser()">Create Account</button>
            </div>
        </div>
        <div class="formFeedback">
            <span ng-show='vm.showError' class="label label-danger" ng-bind="sanitized.data.errorMsg"></span>
        </div>
    </form>
</div>