script(src='javascripts/jquery-2.1.3.js')
script(src='javascripts/bootstrap.js')
script(src='javascripts/angular.js')
script(src='javascripts/angular-animate.js')
script(src='javascripts/angular-aria.js')
script(src='javascripts/angular-cookies.js')
script(src='javascripts/angular-loader.js')
script(src='javascripts/angular-messages.js')
script(src='javascripts/angular-mocks.js')
script(src='javascripts/angular-resource.js')
script(src='javascripts/angular-route.js')
script(src='javascripts/angular-sanitize.js')
script(src='javascripts/angular-scenario.js')
script(src='javascripts/angular-touch.js')
link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap-theme.css')
link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')

    div(ng-app='cowApp')
div(ng-view)

    //Modules
    script(src='app/cowApp.js')
    //Factories
    script(src='app/factory/communicationsFty.js')

    //Controllers
    script(src='app/controller/homeCtrl.js')
    script(src='app/controller/loginCtrl.js')
    //Directives
    script(src='app/directive/speedometerDir.js')
    script(src='app/directive/dialogDir.js')
    script(src='app/directive/loginDir.js')
    //Filters
    script(src='app/filter/reverseFilter.js')
    //CSS
    link(rel='stylesheet', type='text/css', href='app/directive/css/speedometerCSS.css')
    link(rel='stylesheet', type='text/css', href='app/directive/css/loginCSS.css')
