body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.currentTime{
font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;	
}
a {
  color: #00B7FF;
}
.inputboxfooter {
 xbottom: 0;
 width:100%;
  xposition: absolute;
  left:0;
  padding: 20px
} 
.dialog-text{
	ord-wrap: normal;
}